@charset "utf-8";
* html body { margin:0; padding:0;}
@font-face {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; 
	src:url(../fonts/HelveticaNeue.ttf);}
a {text-decoration:none;}
p {font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;  text-align:justify; color:#005ca8; padding:5px;}

#sec {display:flex; justify-content:center; }
div { margin-left:10px;}
.clear  { height:0; margin-top:0px; clear:both;}

.wrap_logo { width:200px; height:auto; display:inline-block; margin-top:10px;  }
.wrap_logo img {width:100%; overflow:hidden; display:inline-block;}

.wrap_header { width:63%; height:auto; display:inline-block; }
.wrap_header p { height:auto; text-align:justify; display:inline-block; font-size:1.2vw; vertical-align:center; margin-left:10px; margin-right:10px;  }
.wrap_header p span {font-weight:bold;}

.wrap_header_pic {width:200px; height:auto; display:inline-block; margin-top:10px; }
.wrap_header_pic img {width:100%; overflow:hidden; display:inline-block; vertical-align:center; margin-right:10px; }

.wrap {width:150px; height:auto; display:inline-block; margin-right:10px; margin-top:5px; }
.wrap img{width:100%; overflow:hidden; border-radius:50%; display:inline-block; opacity:.6; }
.wrap img:hover {opacity:1;}

.wrap_content {width:390px; height:auto;  display:inline-block; margin:25px; box-shadow: 1px 1px 2px #8A8B8E; }
.wrap_content p {display:inline-block; font-size:1.1vw; margin:15px;}

.rating h3 {font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; color:#005ca8;  font-size:1.1vw; margin-left:25px; margin-top:20px;}
.rating ol li {font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; color:#005ca8 ; font-size:1.1vw; margin-top:8px;  }
.rating ol li a {color:#005ca8; }
.rating ol li a:hover {color:#8A8B8E;}

.program h3 {font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; color:#005ca8;  font-size:1.1vw; margin-left:25px; margin-top:20px;}
.program ul li {font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; color:#005ca8 ; font-size:1.1vw; margin-top:8px; }
.program ul li a  {color:#005ca8; }
.program ul li a:hover {color:#8A8B8E;}

.wrap_footer { width:96%; height:auto; display:inline-block; marging-right:10px; margin-top:5px; box-shadow: 1px 1px 2px #8A8B8E; }
.wrap_footer p {display:inline-block; font-size:1.1vw; margin:15px;}